#GaudoNet__bottomLinksList {
    list-style: none;
    padding:0;
    margin:0;
}

.GaudoNet__bottomLinksList_item {
    display: inline-block;
    margin: 0;
    margin-right: .5rem;
    padding: 0;
}

.GaudoNet__bottomLinksList_link {
    color: #fff;
}
