.GaudoNet__privacyPolicy {
    font-weight: bold;
}

#GaudoNet__cookieLawBanner {
    display: none;
    position: absolute;
    bottom: 0;
    background-color: #000;
    color: #DDD;
    text-align:center;
    width: 100%;
    padding: .3rem 0 .3rem 0;
    margin: 0;
}
