#GaudoNet__mainMenu {
    display: flex;
    background: linear-gradient(to bottom, #83553A 0%, #222 100%);
    height: 2.3rem;
    list-style-type: none;
    justify-content: flex-start;
    margin: 0;
    padding:0;

    @media (max-width: 340px)  {
        
        font-size: .9rem;
    }
}

.GaudoNet__mainMenu {
    &_submenu {
        display: none;
    }

    &_item {
        font-weight: bold;
    }

    &_item-selected {
        @extend .GaudoNet__mainMenu_item;
        background-color: #1a1a1a;
    }

    &_link {
        color: #fff;
        text-decoration: none;
        display: inline-block;
        padding: 0.6rem;
    }
    
    &_link-noref {
        color: #fff;
        display: inline-block;
        padding: 0.6rem;
        cursor: default;
    }
}
