extends ./layout.jade

block css

block title
    title Blog personale di un informatico - Francesco Gaudenzi

block selected
    -var selected = 'Home'

block content
    h1.GaudoNet__siteContent_title Blog/Portfolio personale
    p.GaudoNet__siteContent_paragraph.
        Sito personale di <strong>Francesco Gaudenzi</strong>, studente di informatica e sviluppatore freelance.
    p.GaudoNet__siteContent_paragraph.
        In questo sito troverete il mio portfolio e una piccola raccolta di guide, tutorial e consigli in diversi campi dell'informatica
        su problemi che ho affrontato e che ho risolto.
    p.GaudoNet__siteContent_paragraph.
        Tutte le guide sono il frutto di svariati anni alla ricerca, in numerosi siti, delle best practice.
        Le guide sono brevi e mettono in risalto i punti chiave. Ciò è stato ideato per aiutare
        chi, come me, ha la passione per la programmazione ma non il tempo per effettuare le stesse ricerche.
    p.GaudoNet__siteContent_paragraph.
        Ovviamente non mi è possibile ricordare ogni sito che ho visitato effettuando questo tipo di ricerche.
        Tuttavia la stragrande maggioranza delle soluzioni viene presa da <strong><a href="http://stackoverflow.com">Stack Overflow</a></strong> che, tra l'altro, vi consiglio di visitare.
    p.GaudoNet__siteContent_paragraph.
        I commenti, le critiche, i consigli o ulteriori delucidazioni sono molto apprezzati e incoraggiati! :) Potete scrivermi tramite email, twitter, facebook o google+.
