block vars

html(xmlns="http://www.w3.org/1999/xhtml")
    head
        meta(name=viewport content="width=device-width, initial-scale=1")
        title= title+' - '+'Francesco Gaudenzi'

        link(rel="stylesheet" type="text/css" href="/assets/css/style.css")
        block css
    body
        #GaudoNet__siteWrapper
            #GaudoNet__siteGradient
                header#GaudoNet__siteHeader
                    #GaudoNet__siteAuthor_picture
                        img(id="GaudoNet__siteAuthor_picture_image" alt="Foto di Francesco Gaudenzi" src="/assets/img/gaudo.jpg")
                    #GaudoNet__siteAuthor
                        h1#GaudoNet__siteAuthor_name Francesco Gaudenzi
                        ul#GaudoNet__siteAuthor_jobs
                            li Web Developer
                            li Programmatore
                            li Studente di informatica
                            li Gamer
                
                nav
                    ul#GaudoNet__siteMenu
                        -var main_menu = {"Home": route('home'), "Guide": route('guides'), "Competenze": route('skills'), "Chi sono": route('aboutMe')}
                        each key,item in main_menu
                            if selected === item
                                li.GaudoNet__siteMenu_item-selected
                                   span(class="GaudoNet__siteMenu_link-noref")= item
                            else
                                li.GaudoNet__siteMenu_item
                                    a(href="#{key}" class="GaudoNet__siteMenu_link")= item

                main#GaudoNet__siteContent
                    block content

            footer#GaudoNet__siteFooter
                ul#GaudoNet__siteBanners
                    li.GaudoNet__siteBanners_banner
                        a(href="http://www.gnu.org/licenses/agpl-3.0.html")                
                            img(class="GaudoNet__agplLogo GaudoNet__siteBanners_banner_logo" src="http://www.gnu.org/graphics/agplv3-88x31.png" alt="AGPLv3")
                    li.GaudoNet__siteBanners_banner               
                        a(href="https://nodejs.org")
                            img(class="GaudoNet__siteBanners_banner_logo" src="https://nodejs.org/static/images/logos/nodejs-dark.png" alt="Node.js")

                    li.GaudoNet__siteBanners_banner      
                        a(href="https://debian.org")         
                            img(class="GaudoNet__siteBanners_banner_logo" src="https://www.debian.org/logos/button-4.gif" alt="Debian")
                p.GaudoNet__siteFooter_line Source code @ <a href="https://bitbucket.org/gaudo/gaudo.net">https://bitbucket.org/gaudo/gaudo.net</a>
