@font-face {
    font-family: Open Sans;
    src: url('/public/fonts/Open-Sans-regular.woff2') format('woff2');
    src: url('/public/fonts/Open-Sans-regular.woff') format('woff');
}

@font-face {
    font-family: Source Serif Pro;
    src: url('/public/fonts/Source-Serif-Pro-regular.woff2') format('woff2');
    src: url('/public/fonts/Source-Serif-Pro-regular.woff') format('woff');
}
