extends ./layout.jade

block css


block title
    title Gaudo.net

block selected
    -var selected = 'Home'

block content
    ul
        li
            a(href="#" class="GaudoNet_site-page__article--link")
                article(class="gaudo-view-article")
                    img(class="gaudo-view-article-image" src="img/gaudo.jpg")
                    div
                        h1(class="gaudo-view-article-title") Le best practice del PHP
                        p(class="gaudo-view-article-body") Lorem Ipsum è un testo segnaposto utilizzato nel settore della tipografia e della stampa. Lorem Ipsum è considerato il testo segnaposto standard sin dal sedicesimo secolo, quando un anonimo tipografo prese una cassetta di caratteri e li
        li
            a(href="#" class="gaudo-view-article-link")
                article(class="gaudo-view-article")
                    img(class="gaudo-view-article-image" src="img/gaudo.jpg")
                    div
                        h1(class="gaudo-view-article-title") Le best practice del PHP
                        p(class="gaudo-view-article-body") Lorem Ipsum è un testo segnaposto utilizzato nel settore della tipografia e della stampa. Lorem Ipsum è considerato il testo segnaposto standard sin dal sedicesimo secolo, quando un anonimo tipografo prese una cassetta di caratteri e li
        li
            a(href="#" class="gaudo-view-article-link")
                article(class="gaudo-view-article")
                    img(class="gaudo-view-article-image" src="img/gaudo.jpg")
                    div
                        h1(class="gaudo-view-article-title") Le best practice del PHP
                        p(class="gaudo-view-article-body") Lorem Ipsum è un testo segnaposto utilizzato nel settore della tipografia e della stampa. Lorem Ipsum è considerato il testo segnaposto standard sin dal sedicesimo secolo, quando un anonimo tipografo prese una cassetta di caratteri e li

