html(xmlns="http://www.w3.org/1999/xhtml")
    head
        block title
        link(rel="stylesheet" type="text/css" href="/assets/css/style.css")
        block css
    body
        #GaudoNet__siteWrapper
            #GaudoNet__siteGradient
                header#GaudoNet__siteHeader
                    #GaudoNet__siteAuthor_picture
                        img(id="GaudoNet__siteAuthor_picture_image" src="/assets/img/gaudo.jpg")
                    #GaudoNet__siteAuthor
                        h1#GaudoNet__siteAuthor_name Francesco Gaudenzi
                        ul#GaudoNet__siteAuthor_jobs
                            li Web Developer
                            li Programmatore
                            li Studente di informatica
                            li Gamer
                
                nav
                    ul#GaudoNet__siteMenu
                        block selected
                        - var list = {"Home": getRouteUrl('home'), "Competenze": getRouteUrl('curriculum')}
                        each key,item in list
                            if selected === item
                                li.GaudoNet__siteMenu_item-selected
                                   span(class="GaudoNet__siteMenu_link-noref")= item
                            else
                                li.GaudoNet__siteMenu_item
                                    a(href="#{key}" class="GaudoNet__siteMenu_link")= item

                        li.GaudoNet__siteMenu_item
                             span.GaudoNet__siteMenu_link-noref Progetti
                main#GaudoNet__siteContent
                    block content

            footer#GaudoNet__siteFooter
                p Sito internet ideato e realizzato dall'autore.
                p Tutti i diritti riservati.
