extends ./layout.jade

block css

block title
    -var title = 'Competenze'

block selected
    -var selected = 'Competenze'

block content

    h1.GaudoNet__siteContent_title Competenze
    p.GaudoNet__siteContent_paragraph Ho un’ottima conoscenza in molti rami dell’informatica. In particolare ho approfondito i seguenti:

        ul.GaudoNet__siteContent_list
            li.GaudoNet__siteContent_list_item <strong>(X)HTML 5</strong>
            li.GaudoNet__siteContent_list_item <strong>CSS 3</strong>
            li.GaudoNet__siteContent_list_item.
                <strong>Javascript</strong> (<strong>ECMAScript 6</strong>), in particolare <strong><a href="https://nodejs.org/" target="_blank">Node.js</a></strong> e la programmazione asincrona per lo sviluppo backend. Ho anche sviluppato per un periodo con <strong><a href="https://angularjs.org" target="_blank">Angular.js</a></strong> e
                 <strong><a href="https://jquery.com/" target="_blank">JQuery</a></strong>
            li.GaudoNet__siteContent_list_item.
                <strong>PHP 5</strong> (Mi sto aggiornando al 7), in particolare i framework <strong><a href="http://laravel.com" target="_blank">Laravel</a></strong>, <strong><a href="https://symfony.com/" target="_blank">Symfony</a></strong> e <strong><a href="http://cakephp.org/" target="_blank">CakePHP</a></strong>. Personalmente tendo a evitare i CMS (Wordpress, Joomla, Drupal) in quanto li reputo troppo “pieni di funzionalità” (e questo molto spesso si traduce in un poco controllo del codice) ma, se dovessi scegliere, andrei con Drupal.
            li.GaudoNet__siteContent_list_item.
                <strong>Java</strong>, in particolare <strong><a href="https://struts.apache.org/" target="_blank">Struts 2</a></strong> per un progetto universitario.
            li.GaudoNet__siteContent_list_item.
                <strong>Sql</strong>, in particolare usando <strong>MySQL</strong>
            li.GaudoNet__siteContent_list_item.
                Ottime basi di <strong>C</strong>/<strong>C++</strong>
            li.GaudoNet__siteContent_list_item.
                Consapevole dell'importanza di effettuare l’<strong>Unit Testing</strong> per ciascuna classe/funzione.
            li.GaudoNet__siteContent_list_item.
                Conoscenza di alcuni pattern architetturali (<strong>MVC</strong>, <strong>DDD</strong>) e design pattern fondamentali.
            li.GaudoNet__siteContent_list_item.
                Conoscenza dei principali diagrammi <strong>UML</strong> (Sequence, Class, Use case).
    
    p.GaudoNet__siteContent_paragraph I tool e i software che conosco e utilizzo più di frequente sono i seguenti:
        ul.GaudoNet__siteContent_list
            li.GaudoNet__siteContent_list_item.
                <strong><a href="https://git-scm.com/" target="_blank">Git</a></strong>, popolare software di controllo di versione (i comandi e i concetti più importanti)
            li.GaudoNet__siteContent_list_item.
                <strong><a href="http://nginx.org" target="_blank">Nginx</a></strong> e <strong><a href="https://httpd.apache.org/" target="_blank">Apache</a></strong>, server web
            li.GaudoNet__siteContent_list_item.
                <strong><a href="http://sass-lang.com/" target="_blank">Sass</a></strong>, il preprocessore di CSS.
            li.GaudoNet__siteContent_list_item.
                <strong><a href="https://getcomposer.org/" target="_blank">Composer</a></strong>, gestore delle dipendenze PHP.
            li.GaudoNet__siteContent_list_item.
                <strong><a href="https://maven.apache.org/" target="_blank">Maven</a></strong> e <strong><a href="http://gradle.org/" target="_blank">Gradle</a></strong>, gestori delle dipendenze Java.
    p.GaudoNet__siteContent_paragraph.
        Per lavorare ho sempre utilizzato solo ed esclusivamente <strong><a href="https://www.debian.org" target="_blank">Debian GNU Linux</a></strong>.
        Sono quindi capace a installare, configurare, gestire e mantenere una macchina con questo sistema operativo. Questo sito, ad esempio, è hostato su un mio Vps privato.
        

        
