extends ./layout.jade

block vars
    -selected = 'Home'

block content
    h1.GaudoNet__pageTitle Full Stack Web Developer per passione

    section
        h1 Quello che faccio
        p  Da ormai molti anni sviluppo per passione ogni tipo di applicazione utilizzando framework, tecnologie e metodi di sviluppo sempre all’avanguardia.
        p  La mia passione per la programmazione mi ha spinto ad approfondire ogni aspetto dello sviluppo di un software; dal Back-end al Front-end.
        p  Inoltre ho una conoscenza approfondita dei sistemi linux.
        a(href="#{routeToUrl('skills')}") Altro..
    section
        h1 Su di me
        p Sono uno studente di informatica ossessionato dalla tecnologia, dalla programmazione e, come ogni altro geek che si rispetti, ho un debole per i videogiochi ;P.
        a(href="#{routeToUrl('aboutMe')}") Altro..
