html(xmlns="http://www.w3.org/1999/xhtml" xml:lang="it")
    head
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title Privacy &amp; Cookie Policy - Francesco Gaudenzi
        link(rel="stylesheet" type="text/css" href="/public/css/style.css")
    body
        section
            h2 Cookie Policy
            p Questo sito fa uso di cookies tecnici, analitici e di profilazione per migliorare l’esperienza di navigazione dell’utente.<br />Proseguendo la navigazione su questo sito in qualunque maniera, eccetto che per la visione di questo documento o l’abbandono, ci fornisce l’autorizzazione all’installazione dei cookies per il quale è necessario il consenso esplicito dell’utente.<br />Di seguito la lista completa dei cookie.

                ul
                    lh.GaudoNet__privacyPolicy Cookies per il quale non è necessario il consenso esplicito dell’utente
                    li Cookie tecnico di prima parte per verificare il consenso all’utilizzo dei cookie.
                    li Cookie analitico di terze parti per il funzionamento di <a href="https://www.google.com/intl/it_it/analytics/">Google Analytics</a>.
                ul
                    lh.GaudoNet__privacyPolicy Cookies installati previo consenso esplicito dell’utente
                    li Cookie di profilazione di terze parti per il funzionamento dei <a href="https://developers.facebook.com/docs/plugins">Social Plugins di Facebook</a>. 
                    li Cookie di profilazione di terze parti per il funzionamento dei <a href="https://developers.google.com/+/web/">Plugin di Google</a>.
                    li Cookie di profilazione di terze parti per la visualizzazione di annunci pubblicitari mirati (<a href="https://www.google.com/adsense/">Google Adsense</a>).
        section
            h2 Privacy Policy
            p Per motivi di sicurezza, questo sito salva alcune informazioni di base sulla connessione: indirizzo ip, tipo di richiesta http e la data e l’ora della richiesta.<br />Tali informazioni vengono utilizzati solo ed esclusivamente per l’accertamento di responsabilità in caso di ipotetici reati informatici ai danni del sito.
