block vars

html(xmlns="http://www.w3.org/1999/xhtml" xml:lang="it")
    head
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title= title+' - '+'Francesco Gaudenzi'

        link(rel="stylesheet" type="text/css" href="/public/css/style.css")
        block css
        script(type="text/javascript" src="/public/js/jquery.min.js")
        script(type="text/javascript" src="/public/js/jquery.cookie.min.js")
        script(type="text/javascript" src="/public/js/cookieLaw.js")
        block js
    body#GaudoNet__body
        #GaudoNet__cookieLawBanner(style="display: none") Questo sito fa uso di cookie. Per ulteriori informazioni leggi la <a href="#{routeToUrl('privacyPolicy')}" id="GaudoNet__cookieLawPolicy">cookie policy</a>. Proseguendo la navigazione acconsenti all'uso dei cookie. <a href="#">Accetta</a>
        #GaudoNet__siteWrapper

            #GaudoNet__siteGradient
                header#GaudoNet__siteHeader
                    #GaudoNet__siteAuthor_picture
                        img(id="GaudoNet__siteAuthor_picture_image" alt="Foto di Francesco Gaudenzi" src="/public/img/gaudo.jpg")
                    #GaudoNet__siteAuthor
                        h1#GaudoNet__siteAuthor_name Francesco Gaudenzi
                        ul#GaudoNet__siteAuthor_jobs
                            li Web Developer
                            li Programmatore
                            li Studente di informatica
                            li Gamer
                
                nav
                    ul#GaudoNet__siteMenu
                        -var main_menu = {"Home": routeToUrl('home'), "Guide": routeToUrl('guides-showAll'), "Competenze": routeToUrl('skills'), "Chi sono": routeToUrl('aboutMe')}
                        each key,item in main_menu
                            if selected === item
                                li.GaudoNet__siteMenu_item-selected
                                   span(class="GaudoNet__siteMenu_link-noref")= item
                            else
                                li.GaudoNet__siteMenu_item
                                    a(href="#{key}" class="GaudoNet__siteMenu_link")= item

                main#GaudoNet__siteContent
                    block content

            footer#GaudoNet__siteFooter

                ul#GaudoNet__siteBanners
                    li.GaudoNet__siteBanners_banner
                        a(href="/privacy") Privacy policy
                    li.GaudoNet__siteBanners_banner
                        a(href="https://bitbucket.org/gaudo/gaudo.net/src") Visualizza codice sorgente

