extends ./layout.jade

block css

block title
    title Home - Francesco Gaudenzi

block selected
    -var selected = 'Home'

block content
    h1.GaudoNet__siteContent_title Sito di Francesco Gaudenzi
    p.GaudoNet__siteContent_paragraph.
        Sito personale di <strong>Francesco Gaudenzi</strong>, studente di informatica e sviluppatore freelance.
    p.GaudoNet__siteContent_paragraph.
        In questo sito troverete una raccolta di guide, tutorial e consigli in diversi campi dell'informatica
        su problemi che ho affrontato e su come li ho risolti.
    p.GaudoNet__siteContent_paragraph.
        Tutte le guide sono il frutto di svariati anni alla ricerca, in numerosi siti, delle best practice.
        Le guide sono brevi e mettono in risalto i punti chiave. Ciò è stato ideato per aiutare
        chi, come me, ha la passione per la programmazione ma non il tempo per effettuare le stesse ricerche.
    p.GaudoNet__siteContent_paragraph.
        Ovviamente non mi è possibile ricordare ogni sito che ho visitato effettuando questo tipo di ricerche.
        Tuttavia posso dire con certezza che la stragrande maggioranza delle soluzioni viene presa da <strong><a href="http://stackoverflow.com">Stack Overflow</a></strong>.
    p.GaudoNet__siteContent_paragraph.
        I commenti, le critiche, i consigli o ulteriori delucidazioni sono molto apprezzati e incoraggiati! :) Potete scrivermi tramite email, twitter, facebook o google+.
