extends ../layout.jade

block js
    script.
        <![CDATA[
            $( "#add-guide" ).click(function() {
                  $.ajax({
                      url: "#{routeToUrl('guides-add')}",
                      contentType: 'application/json',
                      type: 'POST',
                      async: false,
                      data: JSON.stringify({title: $("#guide-title").val(), body: $("#guide-body").val()}),
                      success: function(data, status) {
                        window.location.replace("#{routeToUrl('guides-showAll')}");
                      },
                      error: function(data, status) {
                        alert(status);            
                      }
                 });
            });
        ]]>

block content

    form
        label(for="guide-title") titolo
        input(type="text" name="title" id="guide-title")
        label(for="guide-body") testo
        textarea(name="body" id="guide-body")
        input(type="button" id="add-guide" value="Aggiungi")
