extends ../layout.jade

block title
    -title= "Guide avanzate di informatica"
    -selected= "Guide"
block content
    h1.GaudoNet__siteContent_title Guide
    if guides[0]
        each guide in guides
            article
                h1= guide.title
                p= guide.body
    else
        p Non sono presenti record
